<ion-content class="content">

  <div *ngIf="prevFile">
    <ion-button class="back-button" fill="clear" shape="round" routerLink="/tabs/tab1">
      <i class="fa-solid fa-angle-left fa-xl" slot="icon-only" style="color: #6030ff;"></i>
    </ion-button>
    <img class="prev-image" src="{{baseUrl}}{{prevFile.fileUrl}}" alt="">
  </div>

  <ion-grid slot="fixed">
    <ion-row>
      <ion-col>
        <ion-card class="location-card" *ngIf="prevFile">
          <ion-card-header>
            <ion-card-title>Location</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>yanam, puducherry.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ratings-card" *ngIf="prevFile">
          <ion-card-header>
            <ion-card-title>Ratings</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ratings-content">
            <div class="rating">
              <img class="rated-user-image" src="{{baseUrl}}{{prevFile.fileUrl}}" alt="">
              <ion-progress-bar value=".25" color="danger"></ion-progress-bar>
              <i id="red-star" class="fa-solid fa-star star fa-sm" slot="icon-only"></i>
            </div>
            <div class="rating">
              <img class="rated-user-image" src="{{baseUrl}}{{prevFile.fileUrl}}" alt="">
              <ion-progress-bar value=".75" color="warning"></ion-progress-bar>
              <i id="yellow-star" class="fa-solid fa-star star fa-sm" slot="icon-only"></i>
            </div>
            <div class="rating">
              <img class="rated-user-image" src="{{baseUrl}}{{prevFile.fileUrl}}" alt="">
              <ion-progress-bar value=".50" color="tertiary"></ion-progress-bar>
              <i id="blue-star" class="fa-solid fa-star star fa-sm" slot="icon-only"></i>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card class="detail-card" *ngIf="prevFile">
          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <ion-toggle [checked]="post" (click)="postToggle()">
                  <ion-label>Post</ion-label>
                </ion-toggle>
              </ion-item>
              <ion-item *ngIf="post">
                <ion-select class="custom-selector" label="Post Visibiliy" placeholder="{{prevFile.privacy}}" >
                  <ion-select-option value="PUBLIC">PUBLIC</ion-select-option>
                  <ion-select-option value="CONNECTS">CONNECTS</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item lines="none" *ngIf="!post">
                <ion-label>Access</ion-label>
                <ion-label class="access-count" slot="end" color="light">24</ion-label>
              </ion-item>
            </ion-list> </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>