.content {
    --background: #d7cbff !important;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

ion-item {
    --inner-padding-start: 0; /* Remove internal padding on the start */
    --inner-padding-end: 0; /* Remove internal padding on the end */
    --padding-start: 0; /* Remove external padding on the start */
    --padding-end: 0; /* Remove external padding on the end */
    --background: transparent; /* Optional: Match background */
    margin: 0 !important; /* Remove external margin */
    padding: 0 !important; /* Remove internal padding */
    width: 100%; /* Ensure it spans the full width */
}

.back-button {
    position: absolute; /* Position relative to .prev-image */
    top: 10px; /* Adjust the vertical position */
    left: 10px; /* Adjust the horizontal position */
    z-index: 10; /* Ensure it appears above other elements */
}
.prev-image {
    position: absolute; /* Parent container for absolute positioning */
    width: 100%;
    height: 100%; /* Maintain aspect ratio */
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 0 0 2rem 2rem;
    object-fit: cover;
}
ion-grid{
    bottom: 0;
    width: 100%;
}
ion-row,ion-col{
    margin: 0;
    padding: 0;
}
.location-card , .ratings-card{
    height: 130px;
    width: 95%;/* Remove any padding applied by Ionic */
    --background: #ffffffad !important; /* Match background color */
    border-radius: 1.5rem;
}
.detail-card{
    --background: #ffffffad !important; /* Match background color */
    border-radius: 1.5rem;
    transform: translateY(-10px);
}
ion-card-title{
    color: #6030ff;
    font-size: small;
    font-weight: bolder;
}
ion-card-content,ion-list{
    background-color: transparent !important; /* Match background color */
}
ion-item{
    border-radius: .5rem;
    margin-bottom: 10px !important;
    background-color: #ffffff;
}
ion-label, ion-select{
    padding: 0 20px;
}
.ratings-content{
    transform: translateY(-12px);
}
.rating{
    justify-content: center;
    align-items: center;
    display: flex;
}
.rating .star{
    margin: 5px;
}
.rated-user-image{
    width: 20px;
    margin: 5px;
    border-radius: 5rem;
    box-shadow: 0px 4px 4px #0000004a;
}
.star{
    border-radius: 5rem;
    padding: 9px 2px !important;
    box-shadow: 0px 4px 4px #0000004a;
}
#red-star{
    color: #D90004;
    background-color: #d900043f;
}
#yellow-star{
    color: #FFD400;
    background-color: #FFD4003f;
}
#blue-star{
    color: #6030ff;
    background-color: #6030ff3f;
}
ion-toggle{
    margin-right: 20px;
}
ion-select::part(placeholder) {
    color: #6030ff !important;
    font-size: small;
    font-weight: bolder;
}
ion-select.custom-selector::part(icon) {
    color: #6030ff;
}
.access-count{
    background-color: #6030ff;
    margin-right: 10px;
    border-radius: 5rem;
}