ion-header {
    border-radius: 0 0 2rem 2rem;
    overflow: hidden;
    --background: transparent;
    box-shadow: none;
}

ion-toolbar {
    vertical-align: center;
    --background: transparent;
    color: #000;
}